body {
    background-image: url(download\ \(2\).jpg);
    border: solid black 15px;
    text-align: center;
    font-family: brush script MT;
}

iframe {
    border: dashed black 9px;
    font-weight: 600px;
    height: 500px;
}